body {
  font-family: Arial;
  text-align: center;
  background: #f5f5f5;
}

input, button {
  margin: 10px;
  padding: 10px;
}

button {
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}